.button {
    background-color: var(--color-primary);
    padding: 10px 25px;
    color: var(--color-black);
    text-transform: uppercase;
    border-radius: 32px;
    margin-right: auto;
}

.button_alt {
    background-color: var(--color-white);
}
