{% include "_partials/_header.html" %} {% include "_partials/_hero.html" %}

<section class="section">
    <div class="wrapper">
        <h2>Mes premiers laboratoires</h2>

        <div class="cards">
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/hero.jpg" alt="Un beau labo" />
                </div>
                <div class="card__content">
                    <h3>01 - Laboratoire intro</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis deleniti numquam nostrum doloribus assumenda error tenetur ducimus
                        laboriosam sunt est iste reiciendis laudantium veniam aut molestias, labore esse odio repudiandae.
                    </p>
                    <p class="tag">HTML + CSS</p>
                    <a class="button" href="#">Voir le laboratoire</a>
                </div>
            </div>

            <div class="card">
                <div class="card__media">
                    <img src="assets/images/hero.jpg" alt="Un beau labo" />
                </div>
                <div class="card__content">
                    <h3>01 - Laboratoire intro</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis deleniti numquam nostrum doloribus assumenda error tenetur ducimus
                        laboriosam sunt est iste reiciendis laudantium veniam aut molestias, labore esse odio repudiandae.
                    </p>
                    <p class="tag">HTML + CSS</p>
                    <a class="button" href="#">Voir le laboratoire</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section_alt">
    <div class="wrapper swiper js-swiper">
        <h2>Mes premiers laboratoires</h2>

        <div class="cards swiper-wrapper">
            <div class="card swiper-slide">
                <div class="card__media">
                    <img src="assets/images/hero.jpg" alt="Un beau labo" />
                </div>

                <div class="card__content">
                    <h3>01 - Laboratoire intro</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis deleniti numquam nostrum doloribus assumenda error tenetur ducimus
                        laboriosam sunt est iste reiciendis laudantium veniam aut molestias, labore esse odio repudiandae.
                    </p>
                    <p class="tag">HTML + CSS</p>
                    <a class="button button_alt" href="#">Voir le laboratoire</a>
                </div>
            </div>

            <div class="card swiper-slide">
                <div class="card__media">
                    <img src="assets/images/hero.jpg" alt="Un beau labo" />
                </div>

                <div class="card__content">
                    <h3>01 - Laboratoire intro</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis deleniti numquam nostrum doloribus assumenda error tenetur ducimus
                        laboriosam sunt est iste reiciendis laudantium veniam aut molestias, labore esse odio repudiandae.
                    </p>
                    <p class="tag">HTML + CSS</p>
                    <a class="button boutton_alt" href="#">Voir le laboratoire</a>
                </div>
            </div>
        </div>

        <div class="swiper-pagination"></div>
    </div>
</section>

{% include "_partials/_footer.html" %}
